<h1>Dashboard</h1>

<h2><%= link_to 'Posts', admin_posts_path %></h2>
<h2><%= link_to 'Categories', admin_categories_path %></h2>
<h2><%= link_to 'Settings', admin_settings_path %></h2>
<h2>Sidebars</h2>