<h1><%=h @user.first_name + " " + @user.last_name %></h1>
<h2>Profile</h2>
<p><strong>E-mail Address:</strong>
  <%=h @user.email %>
</p>

<p><strong>Post Count:</strong>
	<%=h @user.posts_count %>
</p>

<%= link_to 'Edit', edit_account_path %>
