<aside>
	<h3>This is a thing</h3>
</aside>

<aside>
	<h3>Twitter TRACKER</h3>
	<% @tweets.each do |tweet| -%>
		<p><%=h tweet.text %></p>
		<p><%= time_element(Time.parse(tweet.created_at)) %></p>
	<% end -%>
</aside>

