<% @page_title = @post.title -%>
<article>
	<header>
		<h1><%=h @post.title %></h1>
		<p class="author">By <%=h @post.author.name %></p>
		<%= time_element(@post.created_at) %>
	</header>

	<%=h @post.text %>

</article>
