@import '_reset.css';

@footer_height: 6em;

html, body { height: 100%; }

header, footer, article, section, aside, nav { display: block; }

#wrapper { 
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (0 - @footer_height);
}

#content {
	width: 620px;
}

#content, #sidebar {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#push {
	height: @footer_height + 1;
	clear: both;
}

#page-header {
	padding-top: 2em;
}

#page-footer {
	height: @footer_height;
	width: 100%;
	background: #000;
	color: #fff;
}

#footer-content {
	width: 940px;
	margin: auto;
	padding-top: .5em;
}

.borderradius #sidebar {
	aside, nav, section {
		border-radius: 10px; 
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
}

#sidebar {
	width: 300px;
	
	aside, nav, section {
		border: 1px solid #000;
		background: #c3c3c3;
		padding: 10px;
		margin-bottom: 10px;
	}
}
