<!DOCTYPE html>
<html>
	<head>
		<title>Blog!</title>
		<%= javascript_dev ['jquery-1.4.2', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'] %>
		<%= javascript_bundle 'common' %>
	</head>
	<body>
		<%= yield %>
		<footer>
			<p>Footer stuff goes here</p>
		</footer>
	</body>
</html>
